header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    & .nav-me {
        & .a-me-logo {
            & img {
                width: 1em;
            }
        }
    }
    & .nav-div-me {
        & .second-lien-me {
            font-weight: bold;
            & span {
                font-weight: normal;
            }
        }
    }
    & .ul-me {
        margin: auto;
        & .nav-link-connexion {
            color: red;
        }
        & .for-img {
            & img {
                width: 1em;
            }
        }
    }
}

.div-main {
    padding-top: 100px;
    z-index: 50;
    text-align: center;
    & h3 {
        color: #343a40;
    }
    & p {
        color: #343a40;
    }
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    z-index: 5;
    text-align: center;
    & h2 {
        position: absolute;
        width: 60%;
        font-weight: bold;
        & span {
            color: #3ddccf;
        }
    }
    & .box {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.section-none {
    display: none;
}
.section-bis {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    
    & .bis {
        padding: 50px;
        width: 50%;
        & i {
            font-size: 5em;
            color: #3ddccf;
            padding-bottom: 50px;
        }
    }
}
.section-bis-bis {
    width: 80%;
}

a {
    text-decoration-style: none;
}
.img2 {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
}
.btnplay {
    background-color: #3ddccf;
    padding: 20px;
    border-radius: 20px;
    margin-top: 100px;
    color: white;
    text-decoration: none;
}
.btnplay:hover {
    background-color: #343a40;
    color: white;
    transition: 500ms;
    text-decoration: none;
}
.btnfree {
    background-color: #3ddc3d;
    padding: 20px;
    border-radius: 20px;
    margin-top: 100px;
    color: white;
    text-decoration: none;
}
.btnfree:hover {
    background-color: #343a40;
    color: white;
    transition: 500ms;
    text-decoration: none;
}
.btn {
    display: flex;
    background-color: red;
    width: 100%;
    margin: auto;
    text-align: center;
    & div {
        margin-bottom: 100px;
        margin-top: 100px;
        width: 100%;
    }
}

footer {
    background-color: #343a40;
    color: white;
    margin-top: 200px;
    padding-top: 100px;
    & a {
        color: white;
    }
    & a:hover {
        color: white;
    }
    & img {
        width: 1em;
    }
    & .footer-first {
        margin-bottom: 100px;
    }
    & .footer-back {
        width: 70%;
        margin: auto;
    }
}


@media all and (max-device-width: 1024px) {
    header {
        position: relative;
        overflow: hidden;
        & h3 {
            font-size: 1.2em;
        }
        & h6 {
            font-size: 1em;
        }
        & a {
            font-size: 0.8em;
        }
        & .test {
            width: 300px;
            overflow: hidden;
        }
    }
    .div-main {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        & img {
            width: 100%;
        }
    }
    .section-visible {
        display: none;
    }
    .section-none {
        display: block;
        margin-top: 200px;
        & h2 {
            font-size: 1.8em;
            margin-bottom: 50px;
            text-align: center;
            width: 90%;
            margin: auto;
            & span {
                color: #3ddccf;
            }
        }
        & img {
            width: 100%;
            margin-bottom: 50px;
        }
    }
    .section-bis {
        flex-direction: column;
        width: 100%;
        .bis {
            width: 100%;
        }
    }
    .img2 {
        & img {
            width: 80%;
        }
    }
    .slideshow-container-device {
        width: 100%;
        img {
            width: 80%;
        }
    }
    main {
        z-index: 900;
        padding: 0;
    }
}